@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --text-color: #03A062;
}

body {
  font-family: 'Orbitron', sans-serif;
  background-color: #222;
  color: #ccc;
  line-height: 1.8;
  font-size: 20px;
}

.container {
  height: 100vh;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  width: 35%;
  margin-top: 20px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

nav ul li {
  cursor: pointer;
}

nav ul li:hover {
  color: var(--text-color);
  opacity: 0.75;
}

h1 {
  max-width: 35%;
  color: var(--text-color);
  font-size: 50px;
  letter-spacing: -2px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75%;
  margin-top: 100px;
}

.first-line,
.second-line,
.third-line {
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

.first-line {
  border-right: 3px solid var(--text-color);
}

.second-line {
  border-right: 3px solid var(--text-color);
  opacity: 0;
}

.third-line {
  border-right: 3px solid #ccc;
  opacity: 0;
}

.animate-typewriter-1 {
  animation: typewriter-1 3s steps(12) 1s 1 normal both, blinkTextCursor 3s steps(12) forwards normal;
}

.animate-typewriter-2 {
  animation: cursorInvisible 1s forwards, typewriter-2 3s steps(19) 1s 1 normal both, blinkTextCursor 3s steps(19) forwards normal;
  animation-delay: 4s;
}

.animate-typewriter-3 {
  animation: cursorInvisible 1s forwards, typewriter-3 3s steps(18) 1s 1 normal both, blinkTextCursorWhite 3s steps(18) forwards normal;
  animation-delay:7s;
}

@keyframes cursorInvisible {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes typewriter-1 {
  from{width: 0;}
  to{width: 12ch;}
}

@keyframes typewriter-2 {
  from{width: 0;}
  to{width: 19ch;}
}

@keyframes typewriter-3 {
  from{width: 0;}
  to{width: 18ch;}
}

@keyframes blinkTextCursor{
  0% {border-right-color: transparent;}
  12% {border-right-color: var(--text-color);}
  25% {border-right-color: transparent;}
  37% {border-right-color: var(--text-color);}
  50% {border-right-color: transparent;}
  62% {border-right-color: var(--text-color);}
  75% {border-right-color: transparent;}
  87% {border-right-color: var(--text-color);}
  100% {border-right-color: transparent;}
}

@keyframes blinkTextCursorWhite {
  0% {border-right-color: transparent;}
  12% {border-right-color: #ccc;}
  25% {border-right-color: transparent;}
  37% {border-right-color: #ccc;}
  50% {border-right-color: transparent;}
  62% {border-right-color: #ccc;}
  75% {border-right-color: transparent;}
  87% {border-right-color: #ccc;}
  100% {border-right-color: transparent;}
}

#home {
  opacity: 0;
  animation: appear 3s forwards;
  animation-delay: 10s;
}

#about {
  opacity: 0;
  animation: appear 3s forwards;
  animation-delay: 11s;
}

#gallery {
  opacity: 0;
  animation: appear 3s forwards;
  animation-delay: 12s;
}

#contact {
  opacity: 0;
  animation: appear 3s forwards;
  animation-delay: 13s;
}

@keyframes appear {
  from {opacity: 0;}
  to {opacity: 1;}
}

h2 {
  max-width: 33%;
  color: var(--text-color);
}

h3 {
  max-width: 26%;
  margin-bottom: 15px;
}

ul {
  list-style: none;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

p {
  margin: 20px 0;
  font-size: 18px;
}





.wb-body {
  background-color: #111;
  padding: 20px;
}

.hidden {
  display: none;
}

/*.cursor {
  animation: 1.3s blink step-end infinite;
  margin-left: 3px;
}

@keyframes blink {
  0% {
    color: transparent;
  }
  50% {
    color: var(--text-color);
  }
}*/