@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-green: #03A062;
  --secondary-green: #00aa00;
  --white-text: #ccc;
}

body {
  font-family: 'Orbitron', sans-serif;
  background-color: #222;
  color: var(--white-text);
  line-height: 1.8;
  font-size: 20px;
  overflow: hidden;
}

.container {
  height: 100vh;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  height: 20%;
  width: 35%;
  margin-top: 30px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-content: center;
  list-style: none;
}

nav ul li {
  cursor: pointer;
}

nav ul li:hover {
  color: var(--main-green);
  opacity: 0.75;
}

#about {
  opacity: 0;
  animation: appear 3s forwards;
  animation-delay: 11s;
}

#projects {
  opacity: 0;
  animation: appear 3s forwards;
  animation-delay: 12s;
}

#contact {
  opacity: 0;
  animation: appear 3s forwards;
  animation-delay: 13s;
}

@keyframes appear {
  from {opacity: 0;}
  to {opacity: 1;}
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  width: 80%;
  height: 70%;
}

h1 {
  max-width: 38.75%;
  color: var(--main-green);
  font-size: 60px;
  letter-spacing: -2px;
}

h2 {
  color: var(--main-green);
}

h2.two {
  max-width: 31%;
  color: var(--white-text);
  margin-top: -40px;
  margin-bottom: 60px;
}

.logo-appear {
  opacity: 0;
  animation: appear 3s forwards;
  animation-delay: 7s;
}

i {
  color: darkturquoise;
}

h3 {
  max-width: 24.25%;
  margin-left: auto;
  margin-right: auto;
  color: var(--secondary-green);
}

.first-line,
.second-line,
.fourth-line {
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

.first-line {
  border-right: 0.25ch solid var(--main-green);
}

/* .second-line,
.third-line {
  opacity: 0;
} */

.second-line {
  opacity: 0;
  border-right: 0.25ch solid var(--white-text);
}

/* .third-line {
  border-right: 0.25ch solid var(--secondary-green);
} */

.animate-typewriter-1 {
  animation: typewriter-1 3s steps(12) 1s 1 normal both, blinkTextCursor 4s steps(12) forwards normal;
}

.animate-typewriter-2 {
  animation: cursorInvisible 1s forwards, typewriter-2 3s steps(19) 1s 1 normal both, blinkTextCursorWhite 3s steps(19) forwards normal;
  animation-delay: 4s;
}

.animate-typewriter-3 {
  animation: cursorInvisible 1s forwards, typewriter-3 3s steps(18) 1s 1 normal both, blinkTextCursorWhite 3s steps(18) forwards normal;
  animation-delay:7s;
}

@keyframes typewriter-1 {
  from {width: 0;}
  to {width: 12ch;}
}

@keyframes typewriter-2 {
  from {width: 0;}
  to {width: 19ch;}
}

@keyframes typewriter-3 {
  from {width: 0;}
  to {width: 18ch;}
}

@keyframes blinkTextCursor{
  0% {border-right-color: transparent;}
  12% {border-right-color: var(--main-green);}
  25% {border-right-color: transparent;}
  37% {border-right-color: var(--main-green);}
  50% {border-right-color: transparent;}
  62% {border-right-color: var(--main-green);}
  75% {border-right-color: transparent;}
  87% {border-right-color: var(--main-green);}
  100% {border-right-color: transparent;}
}

@keyframes blinkTextCursorWhite {
  0% {border-right-color: transparent;}
  12% {border-right-color: var(--white-text);}
  25% {border-right-color: transparent;}
  37% {border-right-color: var(--white-text);}
  50% {border-right-color: transparent;}
  62% {border-right-color: var(--white-text);}
  75% {border-right-color: transparent;}
  87% {border-right-color: var(--white-text);}
  100% {border-right-color: transparent;}
}

@keyframes cursorInvisible {
  from {opacity: 0;}
  to {opacity: 1;}
}

footer {
  display: flex;
  width: 16.5%;
  height: 10%;
  align-items: center;
  justify-content: center;
  margin-bottom: -20px;
}

.fourth-line {
  opacity: 0;
  border-right: 0.25ch solid var(--white-text);
}

.animate-typewriter-4 {
  animation: cursorInvisible 1s forwards, typewriter-3 3s steps(19) 1s 1 normal both, blinkTextCursorWhite 3s steps(19) forwards normal;
  animation-delay: 8s;
}



.wb-body {
  background-color: #111;
  padding: 20px;
}

.hidden {
  display: none;
}

ul {
  list-style: none;
}

ul#projects-list li {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

ul#projects-list li p {
  font-size: 12px;
  margin-left: 50px;
}

a {
  color: var(--white-text);
  text-decoration: none;
}

a:hover {
  color: var(--secondary-green);
}

/*.cursor {
  animation: 1.3s blink step-end infinite;
  margin-left: 3px;
}

@keyframes blink {
  0% {
    color: transparent;
  }
  50% {
    color: var(--text-color);
  }
}*/